body{
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Poppins',sans-serif;
	cursor: url("mouse.png") 25 15, auto;
}
a{
	text-decoration: none;
	color: #333;
}

/*Loading animtion*/
.container{
	position: absolute;
	height: auto;
	overflow:hidden; 
	transform: translateY(0vh);
	transition: all 1.5s ease-in-out;
	cursor: url("mouse.png") 25 15, auto;
	will-change: transform;  
}

.loader{
	position: absolute;
	z-index: 1000;	
	background: #fff;
	transition: all 0.5s ease-in-out;
	display: none;
}

.ims{
	position: relative;
	height: 300px;	
	width: 300px;
	overflow: hidden;
	animation: move 12s ease-in-out;
	transform: translate(0px, 0px) scale(1);
	animation-fill-mode: forwards;
	top: 0;
}

.hog{
	top: 0;	
	height: 300px;
	width: 300px;
	position: absolute;
}

.h1{
	opacity: 0.3;
	filter: grayscale(0.2);
}

.h2{ opacity: 0.8; }

.him{
	height: 300px;
	position: absolute;
	top: 0;
	width: 1px;
	overflow: hidden;
	animation: fillin 10s cubic-bezier(.19,.24,.35,.85);
	animation-fill-mode: forwards;
}

@keyframes fillin{
	0%{width: 0px}
	100%{width: 300px}
}

@keyframes move{
	0%{transform: translate(0px, 0px) scale(1);}
	10%{transform: translate(0px, 0px) scale(0.7);}
	20%{transform: translate(0px, 0px) scale(1);}
	30%{transform: translate(0px, 0px) scale(0.7);}
	40%{transform: translate(0px, 0px) scale(1);}
	50%{transform: translate(0px, 0px) scale(0.7);}
	60%{transform: translate(0px, 0px) scale(1);}
	70%{transform: translate(0px, 0px) scale(0.7);}
	80%{transform: translate(0px, 0px) scale(1);}
	100%{transform: translate(0px, -0px) scale(0); opacity: 0;}
}
/*Finish loading animation*/


/*Main pages start*/
.blank{
	height: auto;
	width: 100vw;
	background: transparent;
	position: absolute;
	z-index: 1000;
	top: 0;
	overflow: hidden;
	z-index: 100000;
}

.blank1{ align-items: center; }
.blank2{ position: relative; }

.b{
	margin-left: 7vw;
	margin-top: 7vh;
}

.back{
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	overflow-x:hidden; 		
	z-index: 1000;
}
.moving{
	height: 13vw;
	width: 13vw;
	margin: 0;	
	position: absolute;
	border-radius: 9vw;
	transition: all 2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	will-change: height;  
	will-change: width;  
}

.moving1{
	background: linear-gradient(to right, #2cf0aa, #2ce2aa);
	transform: translate(53vw, 20vh) ;	
	will-change: transform;  
	background-position: center center;
	transition: all 1.5s ease-in-out;
	left: 0;
}

.moving2{
	background: linear-gradient(to right, #fbf193, #f7be84);
	transform: translate(-7vw, 30vh) ;
	background-position: center center;
	will-change: transform;  
	transition: all 2.1s ease-in-out;
	right: 0;
}

.moving3{
	background: linear-gradient(to right, #fea172, #f5726b);
	transform: translate(45vw, 55vh) ;
	will-change: transform;  
	background-position: center center;
	transition: all 1.8s ease-in-out;
	left: 0;
}

.moving4{
	background: linear-gradient(to right, #b194f9, #5b63cb);
	transform: translate(-13vw, 65vh) ;
	will-change: transform;  
	background-position: center center;
	transition: all 2.4s ease-in-out;
	right: 0;
}

.m{
	height: 8vw;
	width: 8vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transform: scale(0);
	transition: all 1.9s ease-in-out;
	position: absolute;
}

.m1{ background: #fff; }

.m2{
	height: 10vw;
	width: 10vw;
}

.m3{
	transform: scale(0);
	font-weight: bolder;
	color: #fff;
	font-size: 5vw;
}

.pages{
	display: flex;
	height: auto;
	width: 100vw;
	flex-wrap: wrap;
	flex-direction: column;
}

/*Page 1 start*/
.page1{
	background: url(back2.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.maintext{
	width: 30vw;
	margin-left: 7vw;
	margin-top: -12vh;
	font-size: 15px;
}

.heading{
	font-weight: 900;
	font-size: 45px;
	letter-spacing: 2px;
}

.sub{
	color: #878787;
	margin-bottom: 20px;
}

.rect{
	width: 150px;
	height: 50px;
	background: linear-gradient(to right, #616CF6, #76E3D4);
	border-radius: 100px;
	color: #eee;
	font-size: 16px;
	letter-spacing: 2px;
	box-shadow: 5px 20px 30px 0 rgba(0,0,0,0.1);
	font-weight: 600;
	cursor: pointer;
}
/*page 1 end*/


/*Page 2 start*/
.page2{
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 500;
	background-position: center center ;
	position: relative;
}

.spells{
	width: 25vw;
	height: 5vh;
	font-weight: bolder;
	text-align: center;
	font-size: 22px;
	display: flex;
	text-transform: uppercase;
	position: absolute;
	justify-content: center;
	overflow: hidden;
}

.s1{
	transform: translate(0vw, 60vh);
	transition: all 1s ease-in-out;
}

.s2{
	transform: translate(25vw, 60vh);
	transition: all 1.3s ease-in-out;
}
.s3{
	transform: translate(50vw, 60vh);
	transition: all 1.6s ease-in-out;
}
.s4{
	transform: translate(75vw, 60vh);
	transition: all 1.9s ease-in-out;
}

.spells span{
	position: absolute;
	top: 50px;
	transition: inherit;
}

.su{
	position: absolute;
	font-size: 12px;
	top: 90px ;
	font-weight: lighter;
}

.phead{
	position: absolute;
	width: 100vw;
	text-align: center;
	top: 8vh;
}

.but{
	width: 100vw;
	position: absolute;
	bottom: 15vh;
	display: flex;
	justify-content: center;
}

.rect2{
	width: 280px;
	color: #333;
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 600;
	box-shadow: 5px 20px 30px 0 rgba(0,0,0,0.05);
	background: transparent;
	border: 2px solid #76E3D4;
}
/*Page 2 end*/


/*Page 3 start*/
.page3{
	background-color: #fefefe;
	position: relative;
	left: -0.5vw;
}

.box{
	height: 56vh;
	width: 20vw;
	box-shadow: 5px 20px 30px 0 rgba(0,0,0,0.1);
	overflow: hidden;
	position: absolute;
	top: 22vh;
}

.box1{ left: 5.5vw; }
.box2{ left: 52.5vw; }
.box3{ right: 51.5vw; }
.box4{ right: 4.5vw; }


.desc{
	position: absolute;
	top: 31vh;
	height: 45vh;
	width: 100%;
	margin: 0 0px 0 20px;
}
.dhead{
	font-size: 22px;
	font-weight: bolder;
	margin: 10px 0 -5px 0;
}

.subhead{
	font-size: 14px;
	color: #878787;
}

.dtext{
	font-size: 13px;
	color: #333;
	margin: 10px 40px 0 0 ;
	line-height: 20px;
	text-align: justify;
}

.sp{
	font-size: 13px ; 
}



@media(min-width: 1920px){
	.box{
		height: 53vh;
	}

	.dtext{
		font-size: 16px;
	}
}

@media(max-width: 1450px){
	.box{
		height: 60vh;
	}

	.dtext{
		font-size: 16px;
	}
}

@media(max-width: 1000px){
	.box{
		height: 60vh;
	}

	.dtext{
		font-size: 14px;
	}

	.sp{
		font-size: 11px;
	}

	.subhead{
		font-size: 12px;
	}
}

.gra{
	height: 4vw;
}

.wat{
	height: 18vw;
}

/*main page end*/


/*last page*/

.words{
	width: 40vw;
	position: relative;
	height: 4vh;
	margin-top: -10vh;
	font-weight: bolder;
	font-size: 18px;
	overflow: hidden;
	flex-direction: row;
}

.word{ 
	position: relative; 
	top: 4vh;
	width: auto;
	text-align: center;
	margin: 0 10px;
}
.love{ width: 15px; }
.w1{transition: all 0.7s ease-in-out}
.w2{transition: all 1s ease-in-out}
.w3{transition: all 1.3s ease-in-out}
.w4{transition: all 1.6s ease-in-out}